<% if flash[:notice2] %>
  <p><%= flash[:notice2] %></p>
<% end %>
<% if flash[:notice3] %>
  <p><%= flash[:notice3] %></p>
<% end %>
<p>Title</p>
<%= @book.title %>

<p>Body</p>
<%= @book.body %>

<br>
<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Back", books_path %>
